/node_modules
/public/hot
/public/storage
/public/playlist/*
/public/uploadlist/*
/public/video/*
/public/phpmyadmin
/storage/*.key
/tmp
/vendor
.env
/.nginx.conf
/.ssh
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/Dockerfile
/docker-compose.yml
/docker-compose
.DS_Store
