.faq-hny {
    padding: 64px 0;
    width: 100%;
    > p {
        max-width: 813px;
        font-size: 28px;
        color: #ffffff;
        text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
    }
    .faq {
        overflow: hidden;
        max-width: 688px;
        .faq-item {
            margin-bottom: 20px;
            border-radius: 30px;
            border-width: 3px;
            border-style: solid;
            border-color: #ffffff;
            background-color: rgba(255, 255, 255, 0.35);
            .question {
                margin: -3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 30px;
                border-width: 3px;
                background-color: #f3410e;
                cursor: pointer;
                box-shadow: none;
                line-height: 32px;
                border-style: solid;
                padding: 11px 22px;
                border-color: #ffffff;
                color: #ffffff;
            }
            .answer {
                overflow: hidden;
                max-height: 0;
                & > div {
                    cursor: pointer;
                    box-shadow: none;
                    line-height: 32px;
                    padding: 5px 22px;
                    color: #ffffff;
                }
            }
        }
    }
}
