.faq-wrapper {
    @media (min-width: 375px) {
    }
    @media (min-width: 414px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
        background-image: url(../../img/bg/4.jpg);
        background-position: right -10rem top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 48px;
        min-height: 56.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6vw;
        margin-top: -11vw;
        margin-bottom: -16vw;
        padding-bottom: 6vw;
        margin-bottom: -11vw;
    }
    @media (min-width: 1280px) {
    }
    @media (min-width: 1440px) {
        background-position: right top;
    }
}
.faq-hny {
    padding: 64px 0 0;
    width: 100%;
    @media (min-width: 768px) {
        padding: 64px 0;
    }
    > p {
        max-width: 813px;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
        a {
            color: #ffffff;
        }
        @media (min-width: 768px) {
            text-align: left;
            text-transform: none;
            font-size: 28px;
        }
    }
    .faq {
        overflow: hidden;
        max-width: 688px;
        @media (min-width: 768px) {
            padding-bottom: 80px;
        }
        .faq-item {
            margin-bottom: 20px;
            border-radius: 30px;
            border-width: 3px;
            border-style: solid;
            border-color: #ffffff;
            background-color: rgba(0, 0, 0, 0.35);
            .question {
                margin: -3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 30px;
                border-width: 3px;
                background-color: #f3410e;
                cursor: pointer;
                box-shadow: none;
                border-style: solid;
                padding: 11px 22px;
                border-color: #ffffff;
                color: #ffffff;
                font-size: 15px;
                @media (min-width: 768px) {
                    line-height: 32px;
                    font-size: 20px;
                }
            }
            .answer {
                overflow: hidden;
                max-height: 0;
                font-size: 13px;
                a {
                    color: #ffffff;
                }
                @media (min-width: 768px) {
                    font-size: 20px;
                }
                & > div {
                    cursor: pointer;
                    box-shadow: none;
                    padding: 15px 22px;
                    color: #ffffff;
                    @media (min-width: 768px) {
                        padding: 5px 22px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}
