.form-hny {
    position: relative;
    top: -4vw;
    max-width: 960px;
    & > p {
        max-width: 615px;
        font-size: 28px;
    }
    .order-form {
        width: 548px;
        margin-right: 40px;
        & > div {
            margin-bottom: 12px;
        }
    }
    @media (max-width: 1279px) {
        .order-form {
            width: 508px;
        }
    }
    @media (max-width: 1023px) {
        .order-form {
            width: 368px;
        }
    }
}
