.slider-hny {
    position: relative;
    top: -0.1vw;
    padding-bottom: 2vw;
    width: 100%;
    max-width: 1024px;
}
.slideH {
    @media (min-width: 768px) {
        width: 35%;
    }
}
.slideS {
    @media (min-width: 768px) {
        width: 65%;
    }
}

.slider-hny-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
        margin-left: 63px;
        margin-right: 63px;
    }
    @media (min-width: 1024px) {
        margin-left: 103px;
        margin-right: 103px;
    }
    .btn-control {
        cursor: pointer;
    }
    .img-wrapper {
        .img {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 150px;
            height: 200px;
            @media (min-width: 375px) {
            }
            @media (min-width: 414px) {
                width: 180px;
                height: 240px;
            }
            @media (min-width: 768px) {
                width: 240px;
                height: 320px;
            }
            @media (min-width: 1024px) {
            }
        }
    }
}

#carousel {
    width: 100%;
    padding-top: 80%;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 55px;
    > div {
        top: 0;
        left: 0;
        &.arrow {
            display: none;
            position: absolute;
            text-align: center;
            cursor: pointer;
            z-index: 100;
            top: 46%;
            &-right {
                left: auto;
                right: -2%;
                @media (min-width: 768px) {
                    right: -10%;
                }
                @media (min-width: 992px) {
                    right: -6%;
                }
                @media (min-width: 1280px) {
                    right: -2%;
                }
            }

            &-left {
                left: -6%;
                @media (min-width: 768px) {
                    left: -12%;
                }
                @media (min-width: 992px) {
                    left: -8%;
                }
                @media (min-width: 1280px) {
                    left: -6%;
                }
            }
            &:hover {
            }
            @media (min-width: 768px) {
                display: block;
            }
            &.mobile {
                display: block;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}

.item {
    width: 75%;
    text-align: center;
    color: white;
    position: absolute;
    transition: transform 1s, top 1s, left 1s, right 1s;
    background-color: #ffffff;
    padding: 4%;
    color: #000000;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 7%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (min-width: 768px) {
        font-size: .875rem;
    }
    @media (min-width: 1280px) {
        font-size: 1rem;
    }
    .top {
        padding: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
        .circle-gradient {
            margin-right: 2%;
            width: 20%;
            position: relative;
            @media (min-width: 1280px) {
                width: 10%;
            }
            > div {
                border-radius: 50%;
                background: linear-gradient(to left top, red, purple);
                border: 1px solid transparent;
                width: auto;
                overflow: hidden;
                @media (min-width: 768px) {
                    border: 3px solid transparent;
                }
                > div {
                    width: auto;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    @media (min-width: 768px) {
                        border: 3px solid #fff;
                    }
                    > div {
                        border-radius: 50%;
                        width: 100%;
                        padding-top: 100%;
                        overflow: hidden;
                        background-color: #ffffff;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
        .folname {
            text-align: left;
            margin-right: 2%;
            width: 30%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            .followers {
            }
        }
        .butwr {
            flex-grow: 1 !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                text-decoration: none;
                color: white !important;
                background: #3995ef;
                border-radius: 4px;
                min-width: 100%;
                font-size: 0.725rem;
                text-align: center;
                text-transform: uppercase;
                border: 0;
                box-shadow: none;
                padding: 3.5% 3.5%;
                @media (min-width: 768px) {
                    font-size: 1rem;
                }
                @media (min-width: 1280px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .photo {
        width: auto;
        padding-top: 93%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 7%;
    }
}

.level0 {
    left: auto;
    right: 0;
    top: 0;
}

.level1 {
    left: auto;
    right: 10%;
    transform: scale(0.9);
}

.level2 {
    left: auto;
    right: 15%;
    transform: scale(0.8);
}

.level2 {
    z-index: -2;
}

.level1 {
    z-index: -1;
}

.level0 {
    z-index: 0;
}

.left-enter {
    opacity: 0;
    &.left-enter-active {
        opacity: 1;
        transition: opacity 1s;
    }
}

.left-leave {
    opacity: 1;
    z-index: 2;
    right: 0;
    &.left-leave-active {
        right: -10%;
        opacity: 0;
        transition: right 1s, opacity 1s ease-in;
    }
}

.right-enter {
    opacity: 0;
    z-index: 2;
    left: auto;
    right: -10%;
    &.right-enter-active {
        opacity: 1;
        right: 0;
        transition: right 1s, opacity 0.5s ease-out;
    }
}

.right-leave {
    opacity: 1;
    transform: scale(0.8);
    &.right-leave-active {
        opacity: 1;
        transform: scale(0.6);
        transition: transform 1s, opacity 1s;
    }
}

.noselect {
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
