@import "../fonts/stylesheet.css";
@import "variables";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.nhy-app {
    * {
        box-sizing: border-box;
        outline: none !important;
    }
    .track-scrollbar {
        display: block !important;
    }
    .nhy-btn {
        border-radius: 100px;
        border-width: 3px;
        background-color: #f3410e;
        cursor: pointer;
        box-shadow: none;
        line-height: 32px;
        padding: 11px 22px;
        border-color: #ffffff;
        border-style: solid;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        position: relative;
        &:hover {
            border-color: #dedede;
        }
        &:active {
            top: 1px;
        }
    }
    p {
        // margin-top: 0;
        // margin-bottom: 1.6rem;
    }
    .nhy-container {
        max-width: 1440px;
        z-index: 1;
        position: relative;    
        width: 100%;
        box-sizing: border-box;
        padding: 0 10rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        @media (max-width: 1023px) {
            padding: 0 2rem;
        }
        @media (max-width: 1279px) {
            padding: 0 4rem;
        }
    }
    .promo-wrapper {
        background-image: url(../img/bg/1.jpg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 48px;
        min-height: 56.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16vw;
    }
    .form-wrapper,
    .gifts-wrapper {
        > div {
            background-color: #0398fe;
            position: relative;
            overflow: visible;
            z-index: 2;
            &:before,
            &:after {
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
                height: 120%;
                top: -10%;
                content: "";
                display: block;
            }
            &:before {
                right: 0;
                background-position: right bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-right.png);
            }
            &:after {
                left: 0;
                background-position: left bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-left.png);
            }
        }
        &:before,
        &:after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 16vw;
            width: 100%;
            content: "";
            display: block;
        }
        &:before {
            margin-top: -14vw;
            background-image: url(../img/bg/topwave.png);
        }
        &:after {
            margin-top: -3vw;
            z-index: 1;
            position: relative;
            background-image: url(../img/bg/bottomwave.png);
        }
    }
    .example-wrapper {
        background-image: url(../img/bg/3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 73.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16vw;
        margin-top: -11vw;
        padding-bottom: 16vw;
    }
    .gifts-wrapper {
        @media (max-width: 1023px) {
            &:after {
                margin-top: -0.1vw;
            }
        }
    }
    .faq-wrapper {
        background-image: url(../img/bg/4.jpg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 48px;
        min-height: 56.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6vw;
        margin-top: -11vw;
        margin-bottom: -11vw;
        padding-bottom: 6vw;
        @media (max-width: 1023px) {
            margin-bottom: -16vw;
        }
    }

    color: $white;
    font-family: "bubbleboddy_neue", sans-serif;
    background: #a2a2a2;
    margin-bottom: -200px;
    padding-bottom: 200px;
    font-size: 20px;
    input,
    button,
    textarea {
        font-size: 20px;
        color: #ffffff;
        font-family: "bubbleboddy_neue", sans-serif;
    }
    .h1 {
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 16px;
        text-transform: uppercase;
        text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
        font-weight: bold;
        color: $white;
        @media (max-width: 1023px) {
            font-size: 30px;
            line-height: 36px;
        }
    }
    .flex {
        display: flex;
    }
    .space-between {
        justify-content: space-between;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flex-end {
        align-items: flex-end;
    }
    .text-center {
        text-align: center;
    }
    .mb-1 {
        margin-bottom: 12px;
    }
    .pt-5 {
        padding-top: 60px;
    }

    .gift-select {
        width: 424px;
        &.scroll-bar {
            width: 440px;
            @media (max-width: 1023px) {
                width: 388px;
            }
        }
        .gift {
            width: 128px;
            height: 128px;
            border-radius: 10px;
            background: $white;
            padding: 8px;
            margin-bottom: 10px;
            cursor: pointer;
            border: 1px solid transparent;
            &.active,
            &:hover {
                border-color: $red;
            }
            & > div {
                width: 112px;
                height: 112px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        @media (max-width: 1023px) {
            width: 324px;
            .gift {
                width: 102px;
                height: 102px;
                border-radius: 10px;
                padding: 8px;
                margin-top: 10px;
                & > div {
                    width: 86px;
                    height: 86px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
@keyframes buttonNhy {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scaleX(1.2) scaleY(0.8);
    }
    50% {
        transform: scaleX(0.8) scaleY(1.2);
    }
    75% {
        transform: scaleX(1.1) scaleY(1.1);
    }
}

@import "sections/promo";
@import "sections/form";
@import "sections/gifts";
@import "sections/faq";
@import "sections/example";
