@import "../fonts/stylesheet.css";
@import "variables";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
    margin: 0;
    min-height: 100%;
    background-color: #faf5ed;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
}
.footer-wave {
    position: relative;
    top: 4px;
    z-index: 3;
}
.nhy-app {
    background-color: #e54c2e;
    * {
        box-sizing: border-box;
        outline: none !important;
    }
    .nhy-btn {
        border-radius: 100px;
        border-width: 3px;
        background-color: #f3410e;
        cursor: pointer;
        box-shadow: none;
        line-height: 32px;
        padding: 11px 22px;
        border-color: #ffffff;
        border-style: solid;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        position: relative;
        display: inline-block;
        text-decoration: none;
        &:hover {
            border-color: #dedede;
        }
        &:active {
            top: 1px;
        }
        &.nhy-btn-blue {
            background-color: #0685c8;
            @media (min-width: 768px) {
                margin-top: 20px;
            }
        }
    }
    .nhy-container {
        max-width: 1440px;
        z-index: 1;
        position: relative;
        width: 100vw;
        box-sizing: border-box;
        padding: 0 2rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        @media (min-width: 768px) {
            display: flex;
            padding: 0 4rem;
        }
    }
    .nhy-menu-container {
        max-width: 1440px;
        z-index: 1;
        position: relative;
        width: 100vw;
        box-sizing: border-box;
        padding: 0 2rem;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 768px) {
        }
        @media (min-width: 1024px) {
        }
        @media (min-width: 1280px) {
        }
        @media (min-width: 1440px) {
            padding: 0 4rem;
        }
    }
    .visible-sm {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    .hidden-sm {
        display: block;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .form-wrapper,
    .gifts-wrapper {
        position: relative;
        @media (min-width: 768px) {
            > div {
                background-color: #0398fe;
                position: relative;
                overflow: visible;
                z-index: 2;
                &:before,
                &:after {
                    position: absolute;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 50%;
                    height: 120%;
                    top: -10%;
                    content: "";
                    display: block;
                }
                &:before {
                    right: 0;
                    background-position: right bottom;
                    background-size: auto 100%;
                    background-image: url(../img/bg/snow-right.png);
                }
                &:after {
                    left: 0;
                    background-position: left bottom;
                    background-size: auto 100%;
                    background-image: url(../img/bg/snow-left.png);
                }
            }
            &:before,
            &:after {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding-top: 16vw;
                width: 100%;
                content: "";
                display: block;
            }
            &:before {
                margin-top: -14vw;
                background-image: url(../img/bg/topwave.png);
            }
            &:after {
                z-index: 1;
                position: relative;
                background-image: url(../img/bg/bottomwave.png);
            }
        }
    }
    .gifts-wrapper {
        &:after {
            margin-top: -0.1vw;
        }
        @media (min-width: 1024px) {
            &:after {
                margin-top: 0;
            }
        }
    }
    .slider-wrapper {
        position: relative;
        padding-bottom: 4vw;
        > div {
            background-color: #0398fe;
            position: relative;
            overflow: visible;
            z-index: 2;
            &:before,
            &:after {
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
                height: 120%;
                top: -10%;
                content: "";
                display: block;
            }
            &:before {
                right: 0;
                background-position: right bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-right.png);
            }
            &:after {
                left: 0;
                background-position: left bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-left.png);
            }
        }
        &:before,
        &:after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 16vw;
            width: 100%;
            content: "";
            display: block;
        }
        &:before {
            background-image: url(../img/bg/topwave.png);
        }
        &:after {
            z-index: 1;
            margin-bottom: -14vw;
            padding-top: 16vw;
            padding-bottom: 14vw;
            background: linear-gradient(#0e9afe, #ffffff);
            position: relative;
            // background-image: url(../img/bg/bottomwave.png);
            @media (min-width: 768px) {
                padding-top: 6vw;
            }
        }
    }
    color: $white;
    font-family: "bubbleboddy_neue", sans-serif;
    margin-bottom: -8.6vw;
    padding-bottom: 8.6vw;
    overflow: hidden;
    font-size: 20px;
    input,
    button,
    textarea {
        font-size: 20px;
        color: #ffffff;
        font-family: "bubbleboddy_neue", sans-serif;
    }
    .h1 {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 16px;
        text-transform: uppercase;
        text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
        font-weight: bold;
        color: $white;
        @media (min-width: 768px) {
            text-align: left;
            font-size: 30px;
            line-height: 36px;
        }
        @media (min-width: 1024px) {
            font-size: 56px;
            line-height: 64px;
        }
    }
    .flex {
        display: flex;
    }
    .space-between {
        justify-content: space-between;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flex-end {
        // align-items: flex-end;
    }
    .text-center {
        text-align: center;
    }
    .mb-1 {
        margin-bottom: 12px;
    }
    .pt-5 {
        padding-top: 60px;
    }

    .gift-select {
        margin: 0 auto;
        .gifts-container {
            display: flex;
            flex-wrap: wrap;
        }
        .gift {
            width: 33.3333%;
            cursor: pointer;
            box-sizing: border-box;
            border: 5px solid transparent;
            & > div {
                border-radius: 10px;
                padding-top: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.active > div,
            &:hover > div {
                box-shadow: 0px 0px 2px 4px $red;
            }
        }
        .h3 {
            font-size: 26px;
        }
        @media (min-width: 375px) {
        }
        @media (min-width: 414px) {
        }
        @media (min-width: 768px) {
            width: 48%;
            margin: 0 auto 0 2%;
        }
        &.scroll-bar {
            @media (min-width: 1024px) {
            }
        }
        @media (min-width: 1024px) {
            .gift {
                & > div {
                }
            }
        }
    }
}
.closeIcon {
    height: 30px;
    @media (min-width: 375px) {
    }
    @media (min-width: 414px) {
    }
    @media (min-width: 768px) {
        height: 52px;
    }
    @media (min-width: 1024px) {
    }
}

.cehckboxButton {
    background: transparent;
    border: 0;
    display: flex;
    outline: 0;
    cursor: pointer;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    > div:first-child {
        align-self: baseline;
    }
    svg {
        display: block;
    }
    @media (min-width: 375px) {
    }
    @media (min-width: 414px) {
    }
    @media (min-width: 768px) {
        margin: 0;
    }
    @media (min-width: 1024px) {
    }
}
@keyframes buttonNhy {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scaleX(1.2) scaleY(0.8);
    }
    50% {
        transform: scaleX(0.8) scaleY(1.2);
    }
    75% {
        transform: scaleX(1.1) scaleY(1.1);
    }
}

.promo-outer {
    display: flex;
    @media (min-width: 768px) {
        background-image: url(../img/bg/kx_new_cp.jpg);
        background-position: right -6rem center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (min-width: 1280px) {
        background-position: right -7rem center;
    }
    @media (min-width: 1440px) {
        background-position: right -8rem center;
    }
    > div.sidebar-wrapper {
        max-width: 172px;
        padding-top: 112px;
        min-height: 100%;
        background: url(../img/bg/snow-fall.png) no-repeat center bottom 16vw/80%,
            linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), #3399ff;
        .sidebar {
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: outside none;
                    padding: 0 10px;
                    margin: 0 0 17px 0;
                    text-align: center;
                    a {
                        font-family: RotondaC;
                        font-weight: bold;
                        color: #ffffff;
                        font-size: 20.4159px;
                        line-height: 23px;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.sidebar-mobile {
    ul {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        li {
            list-style: outside none;
            padding: 0 10px;
            margin: 0 0 7px 0;
            text-align: center;
            a {
                font-family: RotondaC;
                font-weight: bold;
                color: #ffffff;
                font-size: 20.4159px;
                line-height: 23px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.ReactModal__Content {
    border-width: 0 !important;
    background-color: #07a1f3 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url(../img/popup-bg.png) !important;
    background-size: cover !important;
    box-shadow: 0px 0px 79px #000000 !important;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    font-family: "bubbleboddy_neue", sans-serif !important;
    text-align: center !important;
    color: #ffffff !important;
    @media (min-width: 375px) {
        max-width: 280px;
    }
    @media (min-width: 414px) {
        max-width: 320px !important;
        padding: 20px !important;
    }
    @media (min-width: 768px) {
        font-size: 28px !important;
        border-radius: 40px !important;
        max-width: 600px !important;
        padding: 40px !important;
    }
    @media (min-width: 1024px) {
        max-width: 660px !important;
    }
}

.unsubscribe-wrapper {
    font-family: "bubbleboddy_neue", sans-serif;
    position: relative;
    color: #ffffff;
    text-align: center;
    padding-top: 48px;
    display: block;
    .nhy-container {
        background-color: #0398fe;
        padding: 5rem 0;
    }
    &:before,
    &:after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 38.2vw;
        width: 100%;
        content: "";
        display: block;
    }
    &:before {
        margin-top: -14vw;
        margin-bottom: -0.5vw;
        background-image: url(../img/bg/topwave-sm.png);
    }
    &:after {
        z-index: 1;
        margin-top: -0.5vw;
        position: relative;
        background-image: url(../img/bg/bottomwave-sm.png);
    }
    .top-p {
        font-weight: bold;
        font-size: 35px;
        line-height: 42px;
        text-transform: uppercase;
    }
    .bottom-p {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
    }
    @media (min-width: 768px) {
        .top-p {
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            text-transform: uppercase;
            max-width: 40rem;
            margin: 20px auto;
        }
        .bottom-p {
            max-width: 40rem;
            margin: 20px auto;
            font-weight: bold;
            font-size: 33px;
            line-height: 40px;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &:before,
        &:after {
            padding-top: 16vw;
        }
        &:before {
            margin-top: -6vw;
            background-image: url(../img/bg/topwave.png);
        }
        &:after {
            z-index: 1;
            position: relative;
            background-image: url(../img/bg/bottomwave.png);
        }
    }
    > div {
        background-color: #0398fe;
        position: relative;
        overflow: visible;
        z-index: 2;
        &:before {
            position: absolute;
            background-repeat: no-repeat;
            width: 100%;
            height: 120%;
            top: -10%;
            content: "";
            display: block;
            right: 0;
            background-position: right bottom;
            background-size: contain;
            background-image: url(../img/bg/snow-sm.png);
            @media (min-width: 414px) {
                height: 130%;
                top: -15%;
            }
            @media (min-width: 768px) {
                content: none;
            }
        }
        @media (min-width: 768px) {
            background-color: transparent;
            width: 100%;
            z-index: 2;
            &:before,
            &:after {
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
                height: 120%;
                top: -10%;
                content: "";
                display: block;
            }
            &:before {
                right: 0;
                background-position: right bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-right.png);
            }
            &:after {
                left: 0;
                background-position: left bottom;
                background-size: auto 100%;
                background-image: url(../img/bg/snow-left.png);
            }
        }
    }
    .nhy-btn {
        border-radius: 100px;
        border-width: 3px;
        background-color: #f3410e;
        cursor: pointer;
        box-shadow: none;
        line-height: 32px;
        padding: 11px 22px;
        border-color: #ffffff;
        border-style: solid;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        position: relative;
        display: inline-block;
        text-decoration: none;
        &:hover {
            border-color: #dedede;
        }
        &:active {
            top: 1px;
        }
        &.nhy-btn-blue {
            background-color: #0685c8;
            @media (min-width: 768px) {
                margin-top: 20px;
            }
        }
    }
}

@import "sections/promo";
@import "sections/form";
@import "sections/gifts";
@import "sections/faq";
@import "sections/slider";
@import "sections/example";
@import "hints/hint";
